# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List open source Data Science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Python numpy
2. Python scikit-learn
3. R dplyr

| Data Science Tools|
| --- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Michelle